.articles{
  background-color: #ece5db;


  .article{
    margin: 10px 0px 10px 0px;
    background-color: white;

    img{
      margin: 5px;
      max-width: 200px;
    }
  }
}




